In [1]:
import pandas as pd

In [2]:
url = "https://raw.githubusercontent.com/deysigalvez38/Archivos/main/GSAF5_clean.csv"
df = pd.read_csv(url)

In [3]:
# paso 1:  Observar el dataframe
df.head()
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21'],
      dtype='object')

In [12]:
df.rename(columns={'Fatal Y/N': 'Fatality'}, inplace=True)
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatality', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21'],
      dtype='object')

In [13]:
df['Fatality'].unique()

array(['N', 'Not stated', 'Y', ..., 'ND-0004-Ahmun.pdf',
       'F. Schwartz, p.23; C. Creswell, GSAF',
       'http://sharkattackfile.net/spreadsheets/pdf_directory/ND-0002-JulesPatterson.pdf'],
      shape=(2639,), dtype=object)

In [15]:
# Elimina espacios al inicio/final y reemplaza caracteres raros
df.columns = df.columns.str.strip()
print(df.columns.tolist())

['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatality', 'Time', 'Species', 'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1', 'original order', 'Unnamed: 21']

In [16]:
# Buscar columna que contenga la palabra 'Fatal'
fatal_col = [col for col in df.columns if 'Fatal' in col]
print(fatal_col)

['Fatality']

In [19]:
col_name = fatal_col[0]  # usa el nombre detectado automáticamente

df['Fatality_clean'] = df[col_name].map({'Y': 'Yes', 'N': 'No', 'Not stated': 'Unknown'})
df['Fatality_clean'] = df['Fatality_clean'].fillna('Unknown')


print(df['Fatality_clean'].unique())

['No' 'Unknown' 'Yes']

In [25]:
df['Activity'].unique()

array(['Fishing/swimming', 'Surfing', 'Swimming', ..., '20 Fijians',
       'A chiefessF', 'Ahmun'], shape=(2101,), dtype=object)

In [26]:
# Quitar espacios al inicio/final y pasar a formato título
df['Activity_clean'] = df['Activity'].str.strip().str.title()

In [27]:
valid_activities = [
    'Swimming', 'Surfing', 'Spearfishing', 'Bathing', 'Snorkeling',
    'Bodyboarding', 'Diving', 'Wading', 'Standing', 'Fishing'
]

In [28]:
df['Activity_clean'] = df['Activity_clean'].apply(lambda x: x if x in valid_activities else 'Other')

In [29]:
df['Activity_clean'].value_counts()

Activity_clean
Other           3492
Surfing         1125
Swimming         963
Fishing          445
Spearfishing     354
Wading           168
Bathing          152
Snorkeling       119
Diving           117
Standing         111
Bodyboarding       1
Name: count, dtype: int64

In [30]:
# Top actividades con ataques fatales
df[df['Fatality_clean']=='Yes']['Activity_clean'].value_counts().head(10)

Activity_clean
Other           241
Swimming        196
Surfing          56
Spearfishing     38
Bathing          21
Snorkeling       15
Fishing          11
Diving           11
Wading           11
Standing         11
Name: count, dtype: int64

In [31]:
df.groupby('Activity_clean')['Fatality_clean'].value_counts(normalize=True).unstack().fillna(0)

Fatality_clean        No   Unknown       Yes
Activity_clean
Bathing         0.164474  0.697368  0.138158
Bodyboarding    1.000000  0.000000  0.000000
Diving          0.299145  0.606838  0.094017
Fishing         0.303371  0.671910  0.024719
Other           0.258305  0.672680  0.069015
Snorkeling      0.655462  0.218487  0.126050
Spearfishing    0.548023  0.344633  0.107345
Standing        0.693694  0.207207  0.099099
Surfing         0.720000  0.230222  0.049778
Swimming        0.448598  0.347871  0.203531
Wading          0.732143  0.202381  0.065476